name: On push to main branch

on:
  push:
    branches: [main]

jobs:
  generate-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.MOMENTO_MACHINE_USER_GITHUB_TOKEN }}

      - name: Generate README
        uses: momentohq/standards-and-practices/github-actions/generate-and-commit-oss-readme@gh-actions-v2
        with:
          project_status: incubating
          project_stability: alpha
          project_type: sdk
          sdk_language: Kotlin
          dev_docs_slug: kotlin

  release-please:
    runs-on: ubuntu-latest
    needs: [ generate-readme ]
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    name: Release Please
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.MOMENTO_MACHINE_USER_GITHUB_TOKEN }}
          path: src
          release-type: java
          package-name: client-sdk-kotlin
          changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Bug Fixes","hidden":false},{"type":"chore","section":"Miscellaneous","hidden":false}]'
          extra-files: |
            build.gradle.kts

  publish:
    runs-on: ubuntu-latest
    needs: [ release-please ]
    if: needs.release-please.outputs.release_created == 'true'
    steps:
      - name: Setup repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.MOMENTO_MACHINE_USER_GITHUB_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'corretto'

      # The Android SDK is required to build the project, even if we are not running Android tests.
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build project
        uses: gradle/gradle-build-action@v2.11.1
        with:
          arguments: clean build -x jvmTest -x testDebugUnitTest -x testReleaseUnitTest

      - name: Publish to sonatype
        env:
          SONATYPE_SIGNING_KEY: ${{ secrets.SONATYPE_SIGNING_KEY }}
          SONATYPE_SIGNING_KEY_PASSWORD: ${{ secrets.SONATYPE_SIGNING_KEY_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_version: ${{ steps.semrel.outputs.version }}
        uses: gradle/gradle-build-action@v2.11.1
        with:
#          TODO: automatically release when release process is verified to work
#          arguments: publishToSonatype closeAndReleaseStagingRepository
          arguments: publishToSonatype closeSonatypeStagingRepository
